# Global options
{
	metrics {
		per_host
	}
	debug
	skip_install_trust
}

#
# MAIN
#

(serve_main) {
	# Redirect, route is on the files server
	@files {
		path /*/code/*
		path /*/html/*
		path /*/file/*  # for the /{slug}/file/{filename} convenience routes
		path /*/download/*
		path /local--files/*
		path /local--code/*
		path /local--html/*
		path /-/files/*
		path /-/file/*
		path /-/download/*
		path /-/code/*
		path /-/html/*
	}
	redir @files https://{vars.site_slug}.wjfiles.localhost{uri}

	# Finally, proxy to framerail to get the actual HTML
	# Note, the x-wikijump-site-* headers have already been set at this point
	reverse_proxy http://framerail:3000
}

wikijump.localhost {
	vars {
		site_id 1
		site_slug www
	}

	request_header X-Wikijump-Site-Id {vars.site_id}
	request_header X-Wikijump-Site-Slug {vars.site_slug}

	import serve_main
}

www.wikijump.localhost {
	redir https://wikijump.localhost{uri}
}

test.wikijump.localhost {
	vars {
		site_id 2
		site_slug test
	}

	request_header X-Wikijump-Site-Id {vars.site_id}
	request_header X-Wikijump-Site-Slug {vars.site_slug}

	import serve_main
}

www.test.wikijump.localhost {
	redir https://test.wikijump.localhost{uri}
}

wikijump-qdpi9.ondigitalocean.app,
www.wikijump-qdpi9.ondigitalocean.app {
	redir https://test.wikijump.localhost{uri}
}

check.wikijump.localhost,
www.check.wikijump.localhost {
	redir https://test.wikijump.localhost{uri}
}

template-en.wikijump.localhost {
	vars {
		site_id 3
		site_slug template-en
	}

	request_header X-Wikijump-Site-Id {vars.site_id}
	request_header X-Wikijump-Site-Slug {vars.site_slug}

	import serve_main
}

www.template-en.wikijump.localhost {
	redir https://template-en.wikijump.localhost{uri}
}

scp-wiki.wikijump.localhost,
www.scp-wiki.wikijump.localhost {
	redir https://scpwiki.localhost{uri}
}

scpwiki.dev,
www.scpwiki.dev {
	redir https://scpwiki.localhost{uri}
}

scpwiki.localhost {
	vars {
		site_id 4
		site_slug scp-wiki
	}

	request_header X-Wikijump-Site-Id {vars.site_id}
	request_header X-Wikijump-Site-Slug {vars.site_slug}

	import serve_main
}

www.scpwiki.localhost {
	redir https://scpwiki.localhost{uri}
}

#
# FILES
#

(serve_files) {
	reverse_proxy http://wws:7000
}

*.wjfiles.localhost {
	@www host www.wjfiles.localhost
	vars @www site_id 1

	@test host test.wjfiles.localhost
	vars @test site_id 2

	@template-en host template-en.wjfiles.localhost
	vars @template-en site_id 3

	@scp-wiki host scp-wiki.wjfiles.localhost
	vars @scp-wiki site_id 4

	request_header X-Wikijump-Site-Slug {labels.2}
	request_header X-Wikijump-Site-Id {vars.site_id}

	import serve_files
}

#
# FALLBACK
#

http://,
https://,
localhost {
	request_header X-Wikijump-Special-Error 1
	rewrite * /-/special-error/missing-site
	reverse_proxy http://framerail:3000
}
