# Please generate any passwords / fill in any secrets for blank entries here
#
# Via the command-line, you can use something like "openssl rand -base64 48"

KOMODO_HOST=https://deploy.wikijump.dev
KOMODO_TITLE=Komodo - Wikijump Dev

# TODO generate secrets
KOMODO_PASSKEY=
KOMODO_WEBHOOK_SECRET=
KOMODO_JWT_SECRET=

# TODO generate password.
# Make sure it doesn't have any characters not safe for PostgreSQL URLs,
# I suggest "openssl rand -hex 52"
KOMODO_DB_USERNAME=komodo
KOMODO_DB_PASSWORD=

# First server is the current machine
KOMODO_FIRST_SERVER=http://localhost:8120
KOMODO_FIRST_SERVER_NAME=local

# User settings
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=admin
# TODO generate password
KOMODO_INIT_ADMIN_PASSWORD=

KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_DISABLE_NON_ADMIN_CREATE=true
KOMODO_TRANSPARENT_MODE=false

# Miscellaneous
TZ=Etc/UTC
