# Please generate any passwords / fill in any secrets for blank entries here
#
# Via the command-line, you can use something like "openssl rand -base64 48"

KOMODO_HOST=https://deploy.wikijump.dev
KOMODO_TITLE=Komodo - Wikijump Dev

# TODO generate secrets
# Note that KOMODO_WEBHOOK_SECRET should be set as KOMODO_DEPLOY_DEV_WEBHOOK_SECRET in GitHub secrets
KOMODO_PASSKEY=
KOMODO_WEBHOOK_SECRET=
KOMODO_JWT_SECRET=

# TODO generate password.
# Make sure it doesn't have any characters not safe for PostgreSQL URLs,
# I suggest "openssl rand -hex 52"
KOMODO_DB_USERNAME=komodo
KOMODO_DB_PASSWORD=

# TODO fill in AWS credentials (if applicable)
# AWS credentials for retrieving images from ECR
# If you're not using AWS ECR, then leave these blank
# and set the credentials in Komodo settings.
ECR_AWS_ACCESS_KEY_ID=
ECR_AWS_SECRET_ACCESS_KEY=

# First server is the current machine
# Remember, the hostname here is the Docker container name
KOMODO_FIRST_SERVER=http://periphery:8120
KOMODO_FIRST_SERVER_NAME=Local

# User settings
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=admin
# TODO generate password
KOMODO_INIT_ADMIN_PASSWORD=

KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_DISABLE_NON_ADMIN_CREATE=true
KOMODO_TRANSPARENT_MODE=false

# Periphery settings

PERIPHERY_ROOT_DIRECTORY=/etc/komodo
PERIPHERY_PASSKEYS=${KOMODO_PASSKEY}

## Specify whether to disable the terminals feature
## and disallow remote shell access (inside the Periphery container).
PERIPHERY_DISABLE_TERMINALS=false

## Don't use SSL with self signed certificates.
PERIPHERY_SSL_ENABLED=false

## If the disk size is overreporting, can use one of these to
## whitelist / blacklist the disks to filter them, whichever is easier.
## Accepts comma separated list of paths.
## Usually whitelisting just /etc/hostname gives correct size.
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname

## Limit access to addresses in the given ranges, comma-separated
## First two are localhost, next two are Docker, last is the DigitalOcean dev VPC
PERIPHERY_ALLOWED_IPS=127.0.0.1/8,::1,172.0.0.0/8,::ffff:172.0.0.0/8,10.108.16.0/20

# Miscellaneous
TZ=Etc/UTC
